header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}
.HeadBoxes {
  width: 160px;
  height: 60px;
  background-color: white;
  padding: 0;
  position: relative;
  top: 20px;
  left: 220px;
  list-style: none;
  display: flex;
  align-items: center;
}
.HeadBox {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  margin-right: 10px;
}
.HeadBox:first-child {
  margin-left: 10px;
}


main {
  display: flex
}

.left {
  width: 150px;
  height: 250px;
  background-color: #80dfa8;
}

.right {
  width: 250px;
  background-color: #8c2727;
}

.Boxes {
  list-style: none;
  justify-content: space-between;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.Box {
  width: 140px;
  height: 40px;
  border: 5px solid white;
  background-color:#ff863f;
  margin-top: 10px;
}
.Box:first-child {
  margin-top: 0;
}

footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}